.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    opacity: 0;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(49 46 129);
    border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgb(79 70 229);
}

pre {
    transform: translateY(-25px);
    display: block;
    font-family: monospace !important;
    white-space: pre;
}

.hljs {
    display: block !important;
    overflow-x: auto !important;
    padding: .1em 0 0 0 !important;
    background: transparent !important;
}

.tomorrow-comment, pre .comment, pre .title {
    color: #969896 !important;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #cc6666 !important;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
    color: #de935f !important;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
    color: #f0c674 !important;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
    color: #b5bd68 !important;
}

.tomorrow-aqua, pre .css .hexcolor {
    color: #8abeb7 !important;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
    color: #81a2be !important;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
    color: #b294bb !important;
}

